/*Fons*/
@font-face {
font-family: "roboto";
src: url("../fonts/roboto.woff2") format("woff2"),
url("../fonts/roboto.woff") format("woff");
font-weght: 400;
font-style: normal;
}
@font-face {
font-family: "roboto bold";
src: url("../fonts/robotobold.woff2") format("woff2"),
url("../fonts/robotobold.woff") format("woff");
font-weght: 700;
font-style: normal;
}
@font-face {
font-family: "roboto medium";
src: url("../fonts/robotomedium.woff2") format("woff2"),
url("../fonts/robotomedium.woff") format("woff");
font-weght: 500;
font-style: normal;
}
/* Variables */
:root {
--basic-black: #000000;
--basic-extra-light: #eeeeee;
--basic-white: #ffffff;
--black: #283136;
--black-iight: #444444;
--orange: #fb565a;
--basic-green: #00ca74;
--basic-yellow: #efc849;
--light-gray: #e1e1e1;
--red: #e74246;
--burgundy: #d7373b;
--green: #00bc6c;
--dark-green: #00aa62;
--yellow: #eab534;
--brown: #e5a722;
--gray: #dfdfdf;
--dark-gray: #d5d5d5;
--extra-gray: #4d4d4d;
--gtay-extra-dark: #666666;
--gray-mini:#DBDBDB;

}
/* Global */
.page-body {
min-width: 900px;
margin: 0;
padding: 0;
font-family: "Roboto", Arial, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
background-color: var(--basic-white);
color: var(--basic-black);
align-items: center;
min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
}
a {
text-decoration: none;
}
img {
max-width: 100%;
height: auto;
}
/* Grid */
.page {
height: 100%; 
} 
.container {
width: 1200px;
margin: 0 auto;
padding: 0 5px;
}
/* Main navigation */
.main-header {
line-height: 30px;
color: var(--basic-black);
background-color: var(--basic-extra-light);
text-transform: uppercase;
display: grid;
font-size: 16px;
line-height: 20px;
}
.main-header-logo {
order: 1;
}
.cart {
grid-template-columns: min-content;
}
.site-navigation {
margin: 0;
padding: 0;
list-style: none;
} 
.site-navigation a,
.main-cart a {
color: var(--basic-black);
}
.site-navigation a:hover,
.main-cart a:hover {
color: var(--orange);
}
.site-navigation a:active,
.main-cart a:active {
color: var(--basic-black);
}
/* Logo */
.main-header-logo { 
order: 1;
}
ul {
list-style: none;
}
/* Button */
.button {
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
color: var(--basic-white);
}
.link-button {
width: 240px;
height: 50px;
border-radius: 3px;
background-color: var(--orange);
}
.link-button {
background-color: var(--orange);
}
.link-button:hover {
background-color: var(--red);
}
.link-button:focus {
background-color: var(--burgundy);
}
.orange-button {
border-radius: 3px;
width: 160px;
height: 50px;
background-color: var(--orange);
}
.orange-button {
background-color: var(--orange);
}
.orange-button:hover {
background-color: var(--red);
}
.orange-button:focus {
background-color: var(--burgundy);
}
.green-button {
border-radius: 3px;
width: 160px;
height: 50px;
background-color: var(--basic-green);
}
.green-button {
background-color: var(--basic-green);
}
.green-button:hover {
background-color: var(--green);
}
.green-button:focus {
background-color: var(--dark-green);
}
.yellow-button {
border-radius: 3px;
width: 160px;
height: 50px;
background-color: var(--basic-yellow);
}
.yellow-button {
background-color: var(--basic-yellow);
}
.yellow-button {
background-color: var(--yellow);
}
.yellow-button {
background-color: var(--brown);
}
/* Slider */
.slider,
.img-slider {
background-color: var(--basic-extra-light);
}
.slider h1 {
font-size: 55px;
line-height: 55px;

/* Service */
}
.service {
margin-bottom: 80px;    
}
.services-list {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 100px;
margin: 0;
padding: 0;
list-style: none;   
justify-self: center; 
}
.service-item {
text-align: left;
}
.service-item h2 {
font-family: "roboto bold";
font-size: 24px;
line-height: 30px;
text-transform: uppercase;
}
.service-item p {
color: var(--black);
}
.span {
color: var(--orange);
width: 25px;
height: 2px;
}
/* Features */
.index-columns {
display: grid;
column-gap: 149px;
grid-template-columns: 1fr 1fr;
color: var(--basic-black);
background-repeat: no-repeat, repeat;
}
.features h1 {
font-size: 45px;
line-height: 45px;
}
.features p {
color: var(--black);
}
.features h2 {
font-size: 16px;
line-height: 24px;
font-family: "roboto bold";
text-transform: uppercase;
color: var(--black);
}
.feature-item {
color: var(--black);
}
.feature-item span {
color: var(--orange);
}
.features h3 {
font-size: 16px;
line-height: 24px;
font-family: "roboto bold";
text-transform: uppercase;
}
/* Statistics */
.statistic-item {
font-family: "roboto bold";
font-size: 45px;
line-height: 64px;
}
.percent {
font-family: "roboto bold";
font-size: 26px;
line-height: 40px;
}
.text {
font-size: 16px;
line-height: 18px;
color: var(--black);
}
.partners-list {
display: grid;
grid-column: 1/-1;
column-gap: 95x;
grid-template-columns: 1fr 1fr 1fr 1fr;
background-position: center, 0 0;
margin: 0;
padding: 0;
list-style: none; 
}
.partner-item {
text-align: center;
}
.main-map {
grid-column: 1/-1;
}
/* Footer */
.map-img {
grid-column: 1/1;
}
.social-button {
align-items: center;
width: 81px;
height: 81px;
margin-bottom: 5px;
text-decoration: none;
background: var(--light-gray);
border-radius: 50%;
outline: 0;
display: grid;
margin: 0;
padding: 0;
list-style: none;  
column-gap: 9px;
}
.sentence h2 {
font-family: "roboto bold";
font-size: 36px;
line-height: 36px;
}
.discount p {
font-size: 16px;
line-height: 22px;
color: var(--black-iight);
}
.inner-page .main-header {
background-color: var(--basic-black);
}
/*Catalog*/
.content {
display: grid;
grid-template-columns: 180px 1fr;
align-content: start;
}
.top-heading {
background-color: var(--basic-extra-light);
list-style: none;  
align-items: center;
font-size: 55px;
line-height: 55px;
order: 4;
}

/* Filters */
.legend {
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
font-family: "roboto bold";
}  
.options {
font-size: 16px;
line-height: 20px;
color: var(--black);
} 
.button-filters {
font-size: 16px;
line-height: 18px;
width: 260px;
height: 50px;
text-transform: uppercase;
background-color: var(--basic-extra-light);
font-family: "roboto bold";
border-radius: 3px;
} 
/* Main content */
.main-content {
margin-left: 141px;
}
.filter-main-content {
grid-column: 2 / - 1;
margin-bottom: 55px;
}
.filter-item {
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
}
.name-templates {
width: 71px;
height: 30px;
text-transform: uppercase;
font-family: "roboto bold";
color: var(--basic-black);
}
.description-templates {
font-size: 16px;
line-height: 18px;
color: var(--gtay-extra-dark);
}
.button-price {
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
color: var(--basic-white);
width: 200px;
height: 50px;
background-color: var(--orange);
border-radius: 3px;
}
.page-list {
list-style: none;
}
.button-page a {
font-size: 16px;
line-height: 18px;
width: 50px;
height: 50px;
background-color: var(--basic-extra-light);
align-items: center;
text-align: center;
color: var(--basic-black);
}
.button-page-current a {
font-size: 16px;
line-height: 18px;
width: 50px;
height: 50px;  
background-color: var(--basic-white);
color: var(--basic-black);
}
.button-page-big a { 
text-transform: uppercase;
width: 260px;
height: 50px;
background-color: var(--basic-extra-light);
color: var(--basic-black);
}
